# Ignore VS Code folder (keep settings.json only if exists)
.vscode/*
!.vscode/settings.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.venv/
venv/

# Node / Web
node_modules/
dist/
build/

# OS/IDE
.idea/
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/
